{"swagger":"2.0","info":{"version":"V1","title":"Mouser APIs","description":"With Mouser's APIs, you can get quick and reliable access to product data as well as cart and ordering capabilities.","x-swagger-net-version":"8.5.12.001"},"host":"api.mouser.com","schemes":["https"],"paths":{"/api/v{version}/cart":{"get":{"tags":["MouserCart"],"summary":"Returns the cart","operationId":"MouserCart_GetCart","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"cartKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"countryCode","in":"query","description":"Optional. If not provided, the billing/shipping address associated with the account will be used to determine country code. If provided, country code will be used to determine shipping rules.","required":false,"type":"string"},{"name":"currencyCode","in":"query","description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code. If provided, currency code will be used to price the cart.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}},"post":{"tags":["MouserCart"],"summary":"Updates the entire cart. If any part numbers are not included with the request, they will be deleted.","operationId":"MouserCart_UpdateCart","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/CartItemRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"countryCode","in":"query","description":"Optional. If not provided, the billing/shipping address associated with the account will be used to determine country code. If provided, country code will be used to determine shipping rules.","required":false,"type":"string"},{"name":"currencyCode","in":"query","description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code. If provided, currency code will be used to price the cart.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}}},"/api/v{version}/cart/items/insert":{"post":{"tags":["MouserCart"],"summary":"Allows one or more part numbers to be added to the cart","operationId":"MouserCart_AddCartItems","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/CartItemRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"countryCode","in":"query","description":"Optional. If not provided, the billing/shipping address associated with the account will be used to determine country code. If provided, country code will be used to determine shipping rules.","required":false,"type":"string"},{"name":"currencyCode","in":"query","description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code. If provided, currency code will be used to price the cart.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}}},"/api/v{version}/cart/items/update":{"post":{"tags":["MouserCart"],"summary":"Updates the cart items sent in with the request.","operationId":"MouserCart_UpdateCartItems","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/CartItemRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"countryCode","in":"query","description":"Optional. If not provided, the billing/shipping address associated with the account will be used to determine country code. If provided, country code will be used to determine shipping rules.","required":false,"type":"string"},{"name":"currencyCode","in":"query","description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code. If provided, currency code will be used to price the cart.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}}},"/api/v{version}/cart/item/remove":{"post":{"tags":["MouserCart"],"summary":"Removes an item from the cart based on mouser part number.","operationId":"MouserCart_RemoveCartItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"cartKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"mouserPartNumber","in":"query","required":true,"type":"string"},{"name":"countryCode","in":"query","description":"Optional. If not provided, the billing/shipping address associated with the account will be used to determine country code. If provided, country code will be used to determine shipping rules.","required":false,"type":"string"},{"name":"currencyCode","in":"query","description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code. If provided, currency code will be used to price the cart.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}}},"/api/v{version}/cart/insert/schedule":{"post":{"tags":["MouserCart"],"summary":"Allows adding schedule delivery(s) for cart items.","operationId":"MouserCart_InsertScheduleCartItems","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ScheduleCartItemsRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}}},"/api/v{version}/cart/update/schedule":{"post":{"tags":["MouserCart"],"summary":"Allows updating schedule delivery(s) for cart items.","operationId":"MouserCart_UpdateScheduleCartItems","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/ScheduleCartItemsRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}}},"/api/v{version}/cart/deleteall/schedule":{"post":{"tags":["MouserCart"],"summary":"Allows deleting all scheduled deliveries for cart items.","operationId":"MouserCart_DeleteAllScheduleCartItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"cartKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CartResponseRoot"}}}}},"/api/v{version}/orderhistory/ByDateFilter":{"get":{"tags":["MouserOrderHistory"],"summary":"Returns Order History by date filter","operationId":"MouserOrderHistory_OrderHistory","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"dateFilter","in":"query","description":"e.g. None, All, Today, Yesterday, ThisWeek, LastWeek, ThisMonth, LastMonth, ThisQuarter, LastQuarter, ThisYear, LastYear or YearToDate","required":true,"type":"string","enum":["None","All","Today","Yesterday","ThisWeek","LastWeek","ThisMonth","LastMonth","ThisQuarter","LastQuarter","ThisYear","LastYear","YearToDate"]},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderHistoryResponseRoot"}}}}},"/api/v{version}/orderhistory/ByDateRange":{"get":{"tags":["MouserOrderHistory"],"summary":"Returns Order History by date range","operationId":"MouserOrderHistory_GetApiV{versionOrderhistoryByDateRange","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"startDate","in":"query","description":"e.g. 1/30/2019 (mm/dd/yyyy)","required":true,"type":"string"},{"name":"endDate","in":"query","description":"e.g. 4/30/2019 (mm/dd/yyyy)","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderHistoryResponseRoot"}}}}},"/api/v{version}/orderhistory/salesOrderNumber":{"get":{"tags":["MouserOrderHistory"],"summary":"Returns order details for the supplied sales order number.","operationId":"MouserOrderHistory_GetOrderAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"salesOrderNumber","in":"query","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderDetail"}}}}},"/api/v{version}/orderhistory/webOrderNumber":{"get":{"tags":["MouserOrderHistory"],"summary":"Returns order details for the supplied web order number.","operationId":"MouserOrderHistory_GetWebOrderAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"webOrderNumber","in":"query","required":true,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderDetail"}}}}},"/api/v{version}/order/options/query":{"post":{"tags":["Order"],"summary":"Returns available shipping methods, payment methods, tax certificates, VAT accounts, and saved credit cards for the account.","operationId":"Order_OptionsQuery","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/OrderInializeRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderInitializeResponseRoot"}}}}},"/api/v{version}/order/currencies":{"get":{"tags":["Order"],"summary":"Returns a list of available currencies based on the billing address and default shipping address associated with the account.","operationId":"Order_GetCurrencies","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"shippingCountryCode","in":"query","description":"Optional. If not provided, the default shipping address associated with the account will be used to determine currency results.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderCurrencyRoot"}}}}},"/api/v{version}/order/countries":{"get":{"tags":["Order"],"summary":"Returns a list of countries plus any state/provinces the countries have.","operationId":"Order_GetCountries","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"countryCode","in":"query","description":"Optional. Allows the country list to be filtered by country code.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountryRoot"}}}}},"/api/v{version}/order":{"post":{"tags":["Order"],"summary":"Submits a new order if the \"SubmitOrder\" property is set to true. If the \"SubmitOrder\" property is set to false, then an order summary will be returned.","operationId":"Order_Create","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/OrderRequestRootType"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderRoot"}}}}},"/api/v{version}/order/CreateFromOrder":{"post":{"tags":["Order"],"summary":"Submits a new order from an old order and if the \"SubmitOrder\" property is set to true. If the \"SubmitOrder\" property is set to false, then an order summary will be returned.","operationId":"Order_CreateFromOrder","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/OrderRequestRootType"}},{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"orderNumber","in":"query","required":true,"type":"integer","format":"int32"},{"name":"countryCode","in":"query","description":"Optional. If not provided, the billing/shipping address associated with the account will be used to determine country code. If provided, country code will be used to determine shipping rules.","required":false,"type":"string"},{"name":"currencyCode","in":"query","description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code. If provided, currency code will be used to price the cart.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderRoot"}}}}},"/api/v{version}/order/{orderNumber}":{"get":{"tags":["Order"],"summary":"Returns order details for the supplied web order number.","operationId":"Order_GetOrder","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"orderNumber","in":"path","required":true,"type":"integer","format":"int32"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}}}},"/api/v{version}/order/item/CreateCartFromOrder":{"post":{"tags":["MouserCart"],"summary":"Creates new cart from an order.","operationId":"Order_CreateCartFromOrder","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string","format":"uuid"},{"name":"orderNumber","in":"query","required":true,"type":"integer","format":"int32"},{"name":"countryCode","in":"query","description":"Optional. If not provided, the billing/shipping address associated with the account will be used to determine country code. If provided, country code will be used to determine shipping rules.","required":false,"type":"string"},{"name":"currencyCode","in":"query","description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code. If provided, currency code will be used to price the cart.","required":false,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v{version}/search/keyword":{"post":{"tags":["SearchApi"],"summary":"Search parts by keyword and return a maximum of 50 parts. Please review the SearchByKeywordRequest item in the Models section below to view the detailed description of request parameters.","operationId":"SearchApi_SearchByKeyword","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SearchByKeywordRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SearchResponseRoot"}}}}},"/api/v1/search/keywordandmanufacturer":{"post":{"tags":["SearchApi"],"summary":"This method is deprecated, please use api/v2/search/keywordandmanufacturer.\r\nSearch parts by keyword and specific manufacturer. Return a maximum of 50 parts. Please review the SearchByKeywordMfrRequest item in the Models section below to view the detailed description of request parameters.","operationId":"SearchApi_SearchByKeywordAndManufacturer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SearchByKeywordMfrRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":true}},"/api/v{version}/search/partnumber":{"post":{"tags":["SearchApi"],"summary":"Search parts by part number and return a maximum of 50 parts. Please review the SearchByPartRequest item in the Models section below to view the detailed description of request parameters.","operationId":"SearchApi_SearchByPartNumber","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SearchByPartRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string"},{"name":"version","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SearchResponseRoot"}}}}},"/api/v1/search/partnumberandmanufacturer":{"post":{"tags":["SearchApi"],"summary":"This method is deprecated, please use api/v2/search/partnumberandmanufacturer.\r\nSearch parts by part number and specific manufacturer. Return a maximum of 50 parts. Please review the SearchByPartMfrRequest item in the Models section below to view the detailed description of request parameters.","operationId":"SearchApi_SearchByPartNumberAndManufacturer","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SearchByPartMfrRequestRoot"}},{"name":"apiKey","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":true}},"/api/v1/search/manufacturerlist":{"get":{"tags":["SearchApi"],"summary":"This method is deprecated, please use api/v2/search/manufacturerlist.\r\nGet all Manufacturer List.  Return Manufacturer Name and Manufacturer ID.","operationId":"SearchApi_GetManufacturerList","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"apiKey","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":true}}},"definitions":{"CartResponseRoot":{"properties":{"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"},"CartKey":{"example":"00000000-0000-0000-0000-000000000000","type":"string","format":"uuid"},"CurrencyCode":{"type":"string"},"CartItems":{"items":{"$ref":"#/definitions/OrderLine"},"xml":{"name":"OrderLine","wrapped":true},"type":"array"},"TotalItemCount":{"type":"integer","format":"int32"},"additionalFeesTotal":{"type":"number","format":"double"},"MerchandiseTotal":{"type":"number","format":"double"}},"xml":{"name":"CartResponseRoot"},"type":"object"},"ErrorEntity":{"properties":{"Id":{"type":"integer","format":"int32"},"Code":{"type":"string"},"Message":{"type":"string"},"ResourceKey":{"type":"string"},"ResourceFormatString":{"type":"string"},"ResourceFormatString2":{"type":"string"},"PropertyName":{"type":"string"}},"xml":{"name":"ErrorEntity"},"type":"object"},"OrderLine":{"properties":{"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"},"MouserATS":{"type":"integer","format":"int32"},"Quantity":{"type":"integer","format":"int32"},"PartsPerReel":{"type":"integer","format":"int32"},"PackagingChoice":{"example":"None,Cut_Tape,MouseReel,FullReel","type":"string"},"ScheduledReleases":{"items":{"$ref":"#/definitions/ScheduleRelease"},"xml":{"name":"ScheduleRelease","wrapped":true},"type":"array"},"InfoMessages":{"items":{"type":"string"},"type":"array"},"MouserPartNumber":{"type":"string"},"MfrPartNumber":{"type":"string"},"Description":{"type":"string"},"CartItemCustPartNumber":{"type":"string"},"UnitPrice":{"type":"number","format":"double"},"ExtendedPrice":{"type":"number","format":"double"},"LifeCycle":{"type":"string"},"Manufacturer":{"type":"string"},"SalesMultipleQty":{"type":"integer","format":"int32"},"SalesMinimumOrderQty":{"type":"integer","format":"int32"},"SalesMaximumOrderQty":{"type":"integer","format":"int32"},"additionalFees":{"items":{"$ref":"#/definitions/AdditionalFee"},"xml":{"name":"AdditionalFee","wrapped":true},"type":"array"}},"xml":{"name":"OrderLine"},"type":"object"},"ScheduleRelease":{"properties":{"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"},"ScheduleReleaseLine":{"$ref":"#/definitions/KeyValuePairOfStringAndInt32"}},"xml":{"name":"ScheduleRelease"},"type":"object"},"AdditionalFee":{"properties":{"amount":{"type":"number","format":"double"},"extendedAmount":{"type":"number","format":"double"},"code":{"type":"string"}},"xml":{"name":"AdditionalFee"},"type":"object"},"KeyValuePairOfStringAndInt32":{"properties":{"key":{"type":"string"},"value":{"type":"integer","format":"int32"}},"xml":{"name":"KeyValuePair`2"},"type":"object"},"CartItemRequestRoot":{"properties":{"CartKey":{"example":"00000000-0000-0000-0000-000000000000","type":"string","format":"uuid"},"MouserPaysCustomsAndDuties":{"type":"boolean"},"CartItems":{"items":{"$ref":"#/definitions/CartItemRequest"},"xml":{"name":"CartItemRequest","wrapped":true},"type":"array"}},"xml":{"name":"CartItemRequestRoot"},"type":"object"},"CartItemRequest":{"required":["MouserPartNumber","Quantity"],"properties":{"MouserPartNumber":{"type":"string","maxLength":80},"Quantity":{"type":"integer","format":"int32"},"CustomerPartNumber":{"type":"string","maxLength":21,"pattern":"[^*]*$"},"PackagingChoice":{"example":"None,Cut_Tape,MouseReel,FullReel","type":"string","pattern":"(^None$|^Cut_Tape$|^MouseReel$|^FullReel$)"}},"xml":{"name":"CartItemRequest"},"type":"object"},"ScheduleCartItemsRequestRoot":{"properties":{"CartKey":{"example":"00000000-0000-0000-0000-000000000000","type":"string","format":"uuid"},"ScheduleCartItems":{"items":{"$ref":"#/definitions/ScheduleReleaseRequest"},"xml":{"name":"ScheduleReleaseRequest","wrapped":true},"type":"array"}},"xml":{"name":"ScheduleCartItemsRequestRoot"},"type":"object"},"ScheduleReleaseRequest":{"required":["MouserPartNumber"],"properties":{"MouserPartNumber":{"type":"string","maxLength":80},"ScheduledReleases":{"items":{"$ref":"#/definitions/KeyValuePairOfStringAndInt32"},"xml":{"name":"KeyValuePair`2","wrapped":true},"type":"array"}},"xml":{"name":"ScheduleReleaseRequest"},"type":"object"},"OrderHistoryResponseRoot":{"properties":{"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"},"NumberOfOrders":{"type":"integer","format":"int32"},"OrderHistoryItems":{"items":{"$ref":"#/definitions/OrderHistoryBaseObject"},"xml":{"name":"OrderHistoryBaseObject","wrapped":true},"type":"array"}},"xml":{"name":"OrderHistoryResponseRoot"},"type":"object"},"OrderHistoryBaseObject":{"properties":{"DateCreated":{"type":"string","format":"date-time"},"SalesOrderNumber":{"type":"string"},"WebOrderNumber":{"type":"string"},"PoNumber":{"type":"string"},"BuyerName":{"type":"string"},"OrderStatusDisplay":{"type":"string"}},"xml":{"name":"OrderHistoryBaseObject"},"type":"object"},"OrderDetail":{"properties":{"OrderLines":{"items":{"$ref":"#/definitions/OrderLineItem"},"xml":{"name":"OrderLineItem","wrapped":true},"type":"array"},"SalesOrderId":{"type":"string"},"WebOrderId":{"type":"integer","format":"int32"},"OrderStatus":{"type":"integer","format":"int32"},"OrderStatusName":{"type":"string"},"OrderDate":{"type":"string","format":"date-time"},"BillingAddress":{"$ref":"#/definitions/AddressModel"},"ShippingAddress":{"$ref":"#/definitions/AddressModel"},"PaymentDetail":{"$ref":"#/definitions/PaymentModel"},"DeliveryDetail":{"$ref":"#/definitions/DeliveryModel"},"CurrencyCode":{"type":"string"},"IsScheduled":{"type":"boolean"},"IsPendingOrder":{"type":"boolean"},"BuyerName":{"type":"string"},"SummaryDetail":{"$ref":"#/definitions/OrderDetailSummary"}},"xml":{"name":"OrderDetail"},"type":"object"},"OrderLineItem":{"properties":{"Quantity":{"type":"integer","format":"int32"},"UnitPrice":{"type":"number","format":"double"},"ExtPrice":{"type":"number","format":"double"},"FormattedUnitPrice":{"type":"string"},"FormattedExtendedPrice":{"type":"string"},"AdditionalFees":{"items":{"$ref":"#/definitions/OHAdditionalFee"},"xml":{"name":"OHAdditionalFee","wrapped":true},"type":"array"},"ProductInfo":{"$ref":"#/definitions/OrderLineProduct"},"Activities":{"items":{"$ref":"#/definitions/OrderLineActivity"},"xml":{"name":"OrderLineActivity","wrapped":true},"type":"array"}},"xml":{"name":"OrderLineItem"},"type":"object"},"AddressModel":{"properties":{"CountryCode":{"type":"string"},"AttentionLine":{"type":"string"},"CompanyName":{"type":"string"},"AddressOne":{"type":"string"},"AddressTwo":{"type":"string"},"City":{"type":"string"},"StateOrProvince":{"type":"string"},"PostalCode":{"type":"string"}},"xml":{"name":"AddressModel"},"type":"object"},"PaymentModel":{"properties":{"PoNumber":{"type":"string"},"PaymentMethodName":{"type":"string"}},"xml":{"name":"PaymentModel"},"type":"object"},"DeliveryModel":{"properties":{"ShippingMethodName":{"type":"string"},"BackOrderShippingMethodName":{"type":"string"},"TrackingDetails":{"items":{"$ref":"#/definitions/TrackingModel"},"xml":{"name":"TrackingModel","wrapped":true},"type":"array"}},"xml":{"name":"DeliveryModel"},"type":"object"},"OrderDetailSummary":{"properties":{"MerchandiseTotal":{"type":"string"},"OrderTotal":{"type":"string"},"AdditionalFeesTotal":{"type":"string"}},"xml":{"name":"OrderDetailSummary"},"type":"object"},"OHAdditionalFee":{"properties":{"amount":{"type":"string"},"extendedAmount":{"type":"string"},"code":{"type":"string"}},"xml":{"name":"OHAdditionalFee"},"type":"object"},"OrderLineProduct":{"properties":{"MouserPartNumber":{"type":"string"},"CustomerPartNumber":{"type":"string"},"ManufacturerName":{"type":"string"},"ManufacturerPartNumber":{"type":"string"},"PartDescription":{"type":"string"}},"xml":{"name":"OrderLineProduct"},"type":"object"},"OrderLineActivity":{"properties":{"InvoiceNumber":{"type":"integer","format":"int32"},"Date":{"type":"string","format":"date-time"}},"xml":{"name":"OrderLineActivity"},"type":"object"},"TrackingModel":{"properties":{"Number":{"type":"string"},"Link":{"type":"string"}},"xml":{"name":"TrackingModel"},"type":"object"},"OrderInializeRequestRoot":{"properties":{"OrderInitialize":{"$ref":"#/definitions/OrderInitializeRequest"}},"xml":{"name":"OrderInializeRequestRoot"},"type":"object"},"OrderInitializeRequest":{"description":"The billing address associated with this account will be used.\r\nShipping Address is optional. If a shipping address is not provided, the default shipping address associated with this account will be used.","properties":{"ShippingAddress":{"$ref":"#/definitions/OrderAddress","description":"Comments here won't show up in swagger docs UI page for some reason"},"CurrencyCode":{"description":"Optional. If not provided, the default currency code based on the billing/shipping address associated with the account will be used to determine currency code.","type":"string","maxLength":3},"CartKey":{"description":"Optional. However, if a cart key is provided, more accurate shipping methods will be returned, plus shipping rates.","type":"string","maxLength":36}},"xml":{"name":"OrderInitializeRequest"},"type":"object"},"OrderAddress":{"required":["CountryCode","FirstName","LastName","AddressOne","City","PhoneNumber"],"properties":{"AddressLocationTypeID":{"type":"string","enum":["Residential","Commercial","PostOfficeBox","APOFPO"]},"CountryCode":{"type":"string","maxLength":2},"FirstName":{"type":"string","maxLength":22},"LastName":{"type":"string","maxLength":23},"AttentionLine":{"type":"string","maxLength":20},"Company":{"type":"string","maxLength":100},"AddressOne":{"type":"string","maxLength":60,"minLength":3},"AddressTwo":{"type":"string","maxLength":35},"City":{"type":"string","maxLength":30},"StateOrProvince":{"description":"Required for certain countries.","type":"string","maxLength":50},"PostalCode":{"description":"Required for certain countries. Max length is dependent upon country. China for example has a max length of 6. Default max length is 10.","type":"string","maxLength":10},"PhoneNumber":{"type":"string","maxLength":15},"PhoneExtension":{"type":"string","maxLength":5},"EmailAddress":{"description":"Only required for billing addresses","type":"string","maxLength":50}},"xml":{"name":"OrderAddress"},"type":"object"},"OrderInitializeResponseRoot":{"properties":{"OrderInitialize":{"$ref":"#/definitions/OrderInitializeResponse"}},"xml":{"name":"OrderInitializeResponseRoot"},"type":"object"},"OrderInitializeResponse":{"properties":{"CurrencyCode":{"type":"string"},"BillingAddress":{"$ref":"#/definitions/OrderAddressType"},"ShippingAddress":{"$ref":"#/definitions/OrderAddressType"},"Shipping":{"$ref":"#/definitions/ShippingRoot"},"IECCode":{"type":"string"},"Payment":{"$ref":"#/definitions/PaymentRoot"},"Languages":{"items":{"$ref":"#/definitions/PreferredLanguage"},"xml":{"name":"PreferredLanguage","wrapped":true},"type":"array"},"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"}},"xml":{"name":"OrderInitializeResponse"},"type":"object"},"OrderAddressType":{"required":["CountryCode","FirstName","LastName","AddressOne","City","PhoneNumber"],"properties":{"Error":{"$ref":"#/definitions/ApiError"},"AddressLocationTypeID":{"type":"string","enum":["Residential","Commercial","PostOfficeBox","APOFPO"]},"CountryCode":{"type":"string","maxLength":2},"FirstName":{"type":"string","maxLength":22},"LastName":{"type":"string","maxLength":23},"AttentionLine":{"type":"string","maxLength":20},"Company":{"type":"string","maxLength":100},"AddressOne":{"type":"string","maxLength":60,"minLength":3},"AddressTwo":{"type":"string","maxLength":35},"City":{"type":"string","maxLength":30},"StateOrProvince":{"description":"Required for certain countries.","type":"string","maxLength":50},"PostalCode":{"description":"Required for certain countries. Max length is dependent upon country. China for example has a max length of 6. Default max length is 10.","type":"string","maxLength":10},"PhoneNumber":{"type":"string","maxLength":15},"PhoneExtension":{"type":"string","maxLength":5},"EmailAddress":{"description":"Only required for billing addresses","type":"string","maxLength":50}},"xml":{"name":"OrderAddressType"},"type":"object"},"ShippingRoot":{"properties":{"Methods":{"items":{"$ref":"#/definitions/ShippingMethodType"},"xml":{"name":"ShippingMethodType","wrapped":true},"type":"array"},"FreightAccounts":{"items":{"$ref":"#/definitions/FreightAccount"},"xml":{"name":"FreightAccount","wrapped":true},"type":"array"},"Error":{"$ref":"#/definitions/ApiError"}},"xml":{"name":"ShippingRoot"},"type":"object"},"PaymentRoot":{"properties":{"PaymentTypes":{"items":{"$ref":"#/definitions/PaymentType"},"xml":{"name":"PaymentType","wrapped":true},"type":"array"},"TaxCertificates":{"items":{"$ref":"#/definitions/TaxCertificates"},"xml":{"name":"TaxCertificates","wrapped":true},"type":"array"},"VatAccounts":{"items":{"type":"string"},"type":"array"},"VatAccountDetails":{"items":{"$ref":"#/definitions/VatAccount"},"xml":{"name":"VatAccount","wrapped":true},"type":"array"}},"xml":{"name":"PaymentRoot"},"type":"object"},"PreferredLanguage":{"properties":{"Code":{"type":"string"},"Description":{"type":"string"}},"xml":{"name":"PreferredLanguage"},"type":"object"},"ApiError":{"properties":{"ErrorType":{"type":"string"},"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"}},"xml":{"name":"ApiError"},"type":"object"},"ShippingMethodType":{"properties":{"Method":{"type":"string"},"Rate":{"type":"number","format":"double"},"Code":{"type":"integer","format":"int32"}},"xml":{"name":"ShippingMethodType"},"type":"object"},"FreightAccount":{"properties":{"Number":{"type":"string","maxLength":9,"pattern":"^\\w{6,9}$"},"Type":{"type":"string"}},"xml":{"name":"FreightAccount"},"type":"object"},"PaymentType":{"properties":{"Method":{"type":"integer","format":"int32"},"Name":{"type":"string"},"CreditCardLastFourDigits":{"type":"string"}},"xml":{"name":"PaymentType"},"type":"object"},"TaxCertificates":{"properties":{"Key":{"type":"string"},"Name":{"type":"string"}},"xml":{"name":"TaxCertificates"},"type":"object"},"VatAccount":{"properties":{"VatNumber":{"type":"string"},"Status":{"type":"string"}},"xml":{"name":"VatAccount"},"type":"object"},"OrderCurrencyRoot":{"properties":{"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"},"Currencies":{"items":{"$ref":"#/definitions/OrderCurrency"},"xml":{"name":"OrderCurrency","wrapped":true},"type":"array"}},"xml":{"name":"OrderCurrencyRoot"},"type":"object"},"OrderCurrency":{"properties":{"CurrencyCode":{"type":"string"},"CurrencyName":{"type":"string"}},"xml":{"name":"OrderCurrency"},"type":"object"},"CountryRoot":{"properties":{"Countries":{"items":{"$ref":"#/definitions/CountryResponse"},"xml":{"name":"CountryResponse","wrapped":true},"type":"array"},"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"}},"xml":{"name":"CountryRoot"},"type":"object"},"CountryResponse":{"properties":{"CountryName":{"type":"string"},"CountryCode":{"type":"string"},"States":{"items":{"$ref":"#/definitions/StateResponse"},"xml":{"name":"StateResponse","wrapped":true},"type":"array"}},"xml":{"name":"CountryResponse"},"type":"object"},"StateResponse":{"properties":{"StateName":{"type":"string"},"StateCode":{"type":"string"}},"xml":{"name":"StateResponse"},"type":"object"},"OrderRequestRootType":{"properties":{"Order":{"$ref":"#/definitions/OrderRequestType"}},"xml":{"name":"OrderRequestRootType"},"type":"object"},"OrderRequestType":{"description":"The billing address associated with this account will be used.\r\nShipping Address is optional. If a shipping address is not provided, the default shipping address associated with this account will be used.","required":["CurrencyCode","CartKey"],"properties":{"ShippingAddress":{"$ref":"#/definitions/OrderAddress"},"OrderType":{"type":"string","enum":["Unspecified","Rush","Complete"]},"PrimaryShipping":{"$ref":"#/definitions/ShippingMethod"},"SecondaryShipping":{"$ref":"#/definitions/ShippingMethod"},"IECCode":{"type":"string","maxLength":10},"PrimaryFreightAccount":{"$ref":"#/definitions/FreightAccount"},"SecondaryFreightAccount":{"$ref":"#/definitions/FreightAccount"},"Payment":{"$ref":"#/definitions/PaymentTypeRequest"},"CurrencyCode":{"type":"string","maxLength":3},"CartKey":{"type":"string","maxLength":36},"LanguageCode":{"type":"string"},"SubmitOrder":{"type":"boolean","default":false}},"xml":{"name":"OrderRequestType"},"type":"object"},"ShippingMethod":{"properties":{"Code":{"type":"integer","format":"int32"}},"xml":{"name":"ShippingMethod"},"type":"object"},"PaymentTypeRequest":{"required":["Method"],"properties":{"Method":{"type":"integer","format":"int32"},"VatInvoiceAddress":{"$ref":"#/definitions/OrderAddress","description":"Optional. For RMB orders only. If not provided, the billing address associated with the account will be used if there is not a VAT Invoice Address already on the account."},"CreditCardLastFourDigits":{"type":"string"},"VatAccountNumber":{"type":"string","maxLength":20},"TaxCertificateKey":{"type":"string","maxLength":20},"TaxStatus":{"type":"string","enum":["None","Taxable","NonTaxable"]},"PoNumber":{"type":"string","maxLength":20},"VatInvoiceType":{"description":"Required only for RMB orders","type":"string","enum":["None","GeneralWithoutTxID","General","Vat"]},"BankName":{"type":"string","maxLength":20},"BankAccountNumber":{"type":"string","maxLength":35},"UseRfcNumber":{"description":"Required only if shipping to Mexico. Do you have an RFC Number?","type":"boolean","default":false},"VatNumberValidForEuShipments":{"description":"Is this number valid for EU intra-Community shipments?","example":"null","type":"boolean"}},"xml":{"name":"PaymentTypeRequest"},"type":"object"},"OrderRoot":{"properties":{"Order":{"$ref":"#/definitions/Order"}},"xml":{"name":"OrderRoot"},"type":"object"},"Order":{"properties":{"OrderLines":{"items":{"$ref":"#/definitions/OrderLine"},"xml":{"name":"OrderLine","wrapped":true},"type":"array"},"CurrencyCode":{"type":"string"},"MerchandiseTotal":{"type":"number","format":"double"},"additionalFeesTotal":{"type":"number","format":"double"},"OrderTotal":{"type":"number","format":"double"},"OrderType":{"type":"string"},"CartGUID":{"type":"string"},"BillingAddress":{"$ref":"#/definitions/OrderAddressType"},"ShippingAddress":{"$ref":"#/definitions/OrderAddressType"},"ShippingMethod":{"$ref":"#/definitions/OrderShipping"},"PaymentMethod":{"$ref":"#/definitions/OrderPayment"},"TaxAmount":{"type":"number","format":"double"},"OrderID":{"type":"string"},"TaxCertificateId":{"type":"string"},"IECCode":{"type":"string"},"LanguageCode":{"type":"string"},"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"},"SubmitOrder":{"type":"boolean"}},"xml":{"name":"Order"},"type":"object"},"OrderShipping":{"properties":{"Error":{"$ref":"#/definitions/ApiError"},"PrimaryCode":{"type":"integer","format":"int32"},"SecondaryCode":{"type":"integer","format":"int32"},"PrimaryMethod":{"type":"string"},"SecondaryMethod":{"type":"string"},"PrimaryShippingRate":{"type":"number","format":"double"},"SecondaryShippingRate":{"type":"number","format":"double"},"PrimaryFreightCollectAccount":{"type":"string"},"SecondaryFreightCollectAccount":{"type":"string"}},"xml":{"name":"OrderShipping"},"type":"object"},"OrderPayment":{"properties":{"Error":{"$ref":"#/definitions/ApiError"},"PONumber":{"type":"string"},"Method":{"type":"integer","format":"int32"},"Name":{"type":"string"},"VatAccountNumber":{"type":"string"},"VatInvoiceAddress":{"$ref":"#/definitions/OrderAddressType"}},"xml":{"name":"OrderPayment"},"type":"object"},"SearchByKeywordRequestRoot":{"properties":{"SearchByKeywordRequest":{"$ref":"#/definitions/SearchByKeywordRequest"}},"xml":{"name":"SearchByKeywordRequestRoot"},"type":"object"},"SearchByKeywordRequest":{"description":"Search parts by keyword and return a maximum of 50 parts.","required":["keyword"],"properties":{"keyword":{"description":"Used for keyword part search.","type":"string"},"records":{"description":"Used to specify how many records the method should return.","type":"integer","format":"int32"},"startingRecord":{"description":"Indicates where in the total recordset the return set should begin. From the startingRecord, the number of records specified will be returned up to the end of the recordset. This is useful for paging through the complete recordset of parts matching keyword.","type":"integer","format":"int32"},"searchOptions":{"description":"Optional.  If not provided, the default is None.  Refers to options supported by the search engine.  Only one value at a time is supported. Available options:  None | Rohs | InStock | RohsAndInStock - can use string representations or integer IDs: 1[None] | 2[Rohs] | 4[InStock] | 8[RohsAndInStock].","type":"string"},"searchWithYourSignUpLanguage":{"description":"Optional. If not provided, the default is false.  Used when searching for keywords in the language specified when you signed up for Search API. Can use string representation: true.","type":"string"}},"xml":{"name":"SearchByKeywordRequest"},"type":"object"},"SearchResponseRoot":{"properties":{"Errors":{"items":{"$ref":"#/definitions/ErrorEntity"},"xml":{"name":"ErrorEntity","wrapped":true},"type":"array"},"SearchResults":{"$ref":"#/definitions/SearchResponse"}},"xml":{"name":"SearchResponseRoot"},"type":"object"},"SearchResponse":{"properties":{"NumberOfResult":{"type":"integer","format":"int32"},"Parts":{"items":{"$ref":"#/definitions/MouserPart"},"xml":{"name":"MouserPart","wrapped":true},"type":"array"}},"xml":{"name":"SearchResponse"},"type":"object"},"MouserPart":{"properties":{"Availability":{"type":"string"},"DataSheetUrl":{"type":"string"},"Description":{"type":"string"},"FactoryStock":{"type":"string"},"ImagePath":{"type":"string"},"Category":{"type":"string"},"LeadTime":{"type":"string"},"LifecycleStatus":{"type":"string"},"Manufacturer":{"type":"string"},"ManufacturerPartNumber":{"type":"string"},"Min":{"type":"string"},"Mult":{"type":"string"},"MouserPartNumber":{"type":"string"},"ProductAttributes":{"items":{"$ref":"#/definitions/ProductAttribute"},"xml":{"name":"ProductAttribute","wrapped":true},"type":"array"},"PriceBreaks":{"items":{"$ref":"#/definitions/Pricebreak"},"xml":{"name":"Pricebreak","wrapped":true},"type":"array"},"AlternatePackagings":{"items":{"$ref":"#/definitions/AlternatePackaging"},"xml":{"name":"AlternatePackaging","wrapped":true},"type":"array"},"ProductDetailUrl":{"type":"string"},"Reeling":{"type":"boolean"},"ROHSStatus":{"type":"string"},"REACH-SVHC":{"items":{"type":"string"},"type":"array"},"SuggestedReplacement":{"type":"string"},"MultiSimBlue":{"type":"integer","format":"int32"},"UnitWeightKg":{"$ref":"#/definitions/UnitWeightKg"},"StandardCost":{"$ref":"#/definitions/StandardCost"},"IsDiscontinued":{"type":"string"},"RTM":{"type":"string"},"MouserProductCategory":{"type":"string"},"IPCCode":{"type":"string"},"SField":{"type":"string"},"VNum":{"type":"string"},"ActualMfrName":{"type":"string"},"AvailableOnOrder":{"type":"string"},"AvailabilityInStock":{"type":"string"},"AvailabilityOnOrder":{"items":{"$ref":"#/definitions/AvailabilityOnOrderObject"},"readOnly":true,"xml":{"name":"AvailabilityOnOrderObject","wrapped":true},"type":"array"},"InfoMessages":{"items":{"type":"string"},"type":"array"},"SalesMaximumOrderQty":{"type":"string"},"SurchargeMessages":{"items":{"$ref":"#/definitions/SurchargeMessages"},"xml":{"name":"SurchargeMessages","wrapped":true},"type":"array"},"RestrictionMessage":{"type":"string"},"PID":{"type":"string"},"ProductCompliance":{"items":{"$ref":"#/definitions/ProductCompliance"},"xml":{"name":"ProductCompliance","wrapped":true},"type":"array"}},"xml":{"name":"MouserPart"},"type":"object"},"ProductAttribute":{"properties":{"AttributeName":{"type":"string"},"AttributeValue":{"type":"string"},"AttributeCost":{"type":"string"}},"xml":{"name":"ProductAttribute"},"type":"object"},"Pricebreak":{"properties":{"Quantity":{"type":"integer","format":"int32"},"Price":{"type":"string"},"Currency":{"type":"string"}},"xml":{"name":"Pricebreak"},"type":"object"},"AlternatePackaging":{"properties":{"APMfrPN":{"type":"string"}},"xml":{"name":"AlternatePackaging"},"type":"object"},"UnitWeightKg":{"properties":{"UnitWeight":{"type":"number","format":"double"}},"xml":{"name":"UnitWeightKg"},"type":"object"},"StandardCost":{"properties":{"Standardcost":{"type":"number","format":"double"}},"xml":{"name":"StandardCost"},"type":"object"},"AvailabilityOnOrderObject":{"properties":{"Quantity":{"type":"integer","format":"int32"},"Date":{"type":"string","format":"date-time"}},"xml":{"name":"AvailabilityOnOrderObject"},"type":"object"},"SurchargeMessages":{"properties":{"code":{"type":"string"},"message":{"type":"string"}},"xml":{"name":"SurchargeMessages"},"type":"object"},"ProductCompliance":{"properties":{"ComplianceName":{"type":"string"},"ComplianceValue":{"type":"string"}},"xml":{"name":"ProductCompliance"},"type":"object"},"SearchByKeywordMfrRequestRoot":{"properties":{"SearchByKeywordMfrRequest":{"$ref":"#/definitions/SearchByKeywordMfrRequest"}},"xml":{"name":"SearchByKeywordMfrRequestRoot"},"type":"object"},"SearchByKeywordMfrRequest":{"description":"Search parts by keyword and specific manufacturer. Return a maximum of 50 parts.","required":["keyword"],"properties":{"manufacturerId":{"description":"Used for filtering by a specific manufacturer. Please get the manufacturerId from the GetManufacturerList method.","type":"integer","format":"int64"},"keyword":{"description":"Used for keyword part search.","type":"string"},"records":{"description":"Used to specify how many records the method should return.","type":"integer","format":"int32"},"startingRecord":{"description":"Indicates where in the total recordset the return set should begin. From the startingRecord, the number of records specified will be returned up to the end of the recordset. This is useful for paging through the complete recordset of parts matching keyword.","type":"integer","format":"int32"},"searchOptions":{"description":"Optional.  If not provided, the default is None.  Refers to options supported by the search engine.  Only one value at a time is supported. Available options:  None | Rohs | InStock | RohsAndInStock - can use string representations or integer IDs: 1[None] | 2[Rohs] | 4[InStock] | 8[RohsAndInStock].","type":"string"},"searchWithYourSignUpLanguage":{"description":"Optional. If not provided, the default is false.  Used when searching for keywords in the language specified when you signed up for Search API. Can use string representation: true.","type":"string"}},"xml":{"name":"SearchByKeywordMfrRequest"},"type":"object"},"SearchByPartRequestRoot":{"properties":{"SearchByPartRequest":{"$ref":"#/definitions/SearchByPartRequest"}},"xml":{"name":"SearchByPartRequestRoot"},"type":"object"},"SearchByPartRequest":{"description":"Search parts by part number and return a maximum of 50 parts.","properties":{"mouserPartNumber":{"description":"Used to search parts by the specific Mouser part number with a maximum input of 10 part numbers, separated by a pipe symbol for the search. Each part number must be a minimum of 3 characters and a maximum of 40 characters. For example: 494-JANTX2N2222A|610-2N2222-TL|637-2N2222A","type":"string"},"partSearchOptions":{"description":"Optional.  If not provided, the default is None.  Refers to options supported by the search engine. Only one value at a time is supported. \r\nThe following values are valid: None | Exact - can use string representations or integer IDs: 1[None] | 2[Exact]","type":"string"}},"xml":{"name":"SearchByPartRequest"},"type":"object"},"SearchByPartMfrRequestRoot":{"properties":{"SearchByPartMfrRequest":{"$ref":"#/definitions/SearchByPartMfrRequest"}},"xml":{"name":"SearchByPartMfrRequestRoot"},"type":"object"},"SearchByPartMfrRequest":{"description":"Search parts by part number and specific manufacturer. Return a maximum of 50 parts.","properties":{"manufacturerId":{"description":"Used for filtering by a specific manufacturer. Please get the manufacturerId from the GetManufacturerList method.","type":"integer","format":"int64"},"mouserPartNumber":{"description":"Used to search parts by the specific Mouser part number with a maximum input of 10 part numbers, separated by a pipe symbol for the search. Each part number must be a minimum of 3 characters and a maximum of 40 characters. For example: 494-JANTX2N2222A|610-2N2222-TL|637-2N2222A","type":"string"},"partSearchOptions":{"description":"Optional.  If not provided, the default is None.  Refers to options supported by the search engine. Only one value at a time is supported. \r\nThe following values are valid: None | Exact - can use string representations or integer IDs: 1[None] | 2[Exact]","type":"string"}},"xml":{"name":"SearchByPartMfrRequest"},"type":"object"}},"tags":[{"name":"MouserCart"},{"name":"MouserOrderHistory"},{"name":"Order"},{"name":"SearchApi"}]}